// grays

$white: #ffffff;
$disabled-gray: #ced4e2;
$very-light-gray: #eff1ff;
$light-gray: #dde1fc;
$gray: #71758e;
$dark-gray: #2f334f;

// brand colors

$brand-purple: #4f46b6;
$light-brand-purple: #dcdaf0;
$brand-blue: #53bdf7;
$light-brand-blue: #cbebfc;

// signal colors

$signal-red: #ff4a7a;
$signal-green: #3bb577;
$signal-orange: #f9aa01;

// primary button styles

$primary-button-bg-regular: linear-gradient(180deg, #665bdd 0%, #4f46b6 100%);
$primary-button-shadow-regular: 0 1px 4px 0 rgba(79, 70, 182, 0.2);

$primary-button-bg-hover: linear-gradient(180deg, #665bdd 0%, #4f46b6 100%);
$primary-button-shadow-hover: 0 3px 12px 0 rgba(79, 70, 182, 0.25);

$primary-button-bg-active: linear-gradient(180deg, #6055d5 0%, #4f46b6 100%);
$primary-button-shadow-active: 0 1px 4px 0 rgba(79, 70, 182, 0.2);

// secondary button styles

$secondary-button-bg-regular: linear-gradient(180deg, #eff1ff 0%, #e3e6fa 100%);
$secondary-button-shadow-regular: 0 1px 1px 0 #eff1ff;

$secondary-button-bg-hover: linear-gradient(180deg, #eff1ff 0%, #e3e6fa 100%);
$secondary-button-shadow-hover: 0 3px 12px 0 #ebedfb;

$secondary-button-bg-active: linear-gradient(180deg, #eff1ff 0%, #e3e6fa 100%);
$secondary-button-shadow-active: 0 0 1px 0 #eff1ff;

// button colors
$button-colors: (
  primary: (
    $white,
    $primary-button-bg-regular,
    $primary-button-shadow-regular,
    $primary-button-bg-hover,
    $primary-button-shadow-hover,
    $primary-button-bg-active,
    $primary-button-shadow-active,
  ),
  secondary: (
    $dark-gray,
    $secondary-button-bg-regular,
    $secondary-button-shadow-regular,
    $secondary-button-bg-hover,
    $secondary-button-shadow-hover,
    $secondary-button-bg-active,
    $secondary-button-shadow-active,
  ),
);

$all-colors: (
  white: $white,
  disabled-gray: $disabled-gray,
  very-light-gray: $very-light-gray,
  light-gray: $light-gray,
  gray: $gray,
  dark-gray: $dark-gray,
  brand-purple: $brand-purple,
  light-brand-purple: $light-brand-purple,
  brand-blue: $brand-blue,
  light-brand-blue: $light-brand-blue,
  signal-red: $signal-red,
  signal-green: $signal-green,
  signal-orange: $signal-orange,
);

// gradients

$bg-gradient: linear-gradient(135deg, #f8fcff 0%, #fffafa 100%);

// shadows

$flat-shadow: 0 0 0 0 rgba(55, 70, 95, 0);
$small-shadow: 0 1px 4px 0 rgba(55, 70, 95, 0.06);
$medium-shadow: 0 8px 16px 0 rgba(55, 70, 95, 0.07);
$big-shadow: 0 12px 18px 0 rgba(25, 42, 70, 0.13);

// general container settings

$container-max-width: 1150px;

// spacing

$spacer: 1rem !default;
$spacers: (
  0: 0,
  2: (
    $spacer * 0.125,
  ),
  4: (
    $spacer * 0.25,
  ),
  6: (
    $spacer * 0.375,
  ),
  8: (
    $spacer * 0.5,
  ),
  10: (
    $spacer * 0.625,
  ),
  12: (
    $spacer * 0.75,
  ),
  16: (
    $spacer,
  ),
  24: (
    $spacer * 1.5,
  ),
  32: (
    $spacer * 2,
  ),
  48: (
    $spacer * 3,
  ),
  64: (
    $spacer * 4,
  ),
  128: (
    $spacer * 8,
  ),
);

// fonts

$font-family-sans-serif: 'Open Sans', sans-serif;

$font-size-base: 1rem !default;

$font-weight-regular: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-regular !default;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 2.375;
$h1-line-height: $font-size-base * 3.625;

$h2-font-size: $font-size-base * 2;
$h2-line-height: $font-size-base * 3;

$h3-font-size: $font-size-base * 1.25;
$h3-line-height: $font-size-base * 1.875;

$h4-font-size: $font-size-base * 1;
$h4-line-height: $font-size-base * 1.5;

$h5-font-size: $font-size-base * 0.75;
$h5-line-height: $font-size-base * 1;

$body-big-font-size: $font-size-base * 1.125;
$body-big-line-height: $font-size-base * 2;

$body-regular-font-size: $font-size-base;
$body-regular-line-height: $font-size-base * 1.5;

$body-small-font-size: $font-size-base * 0.75;
$body-small-line-height: $font-size-base * 1.125;

$body-tiny-font-size: $font-size-base * 0.625;
$body-tiny-line-height: $font-size-base * 1;

// border properties

$border-width-regular: 1px;
$border-width-medium: 2px;
$border-width-large: 4px;

$border-radius-small: 2px;
$border-radius-regular: 4px;
$border-radius-reg: 4px;
$border-radius-medium: 6px;
$border-radius-med: 6px;
$border-radius-md: 6px;
$border-radius-big: 8px;

// $btn-sm-padding-x: 0.5rem;
// $btn-sm-padding-y: 0.25rem;
// $btn-sm-font-size: 0.75rem;
// $btn-sm-line-height: 1.125rem;

$btn-reg-padding-x: 1rem;
$btn-reg-padding-y: 0.5rem;
$btn-reg-font-size: 1rem;
$btn-reg-line-height: 1.5rem;

// $btn-lg-padding-x: 2rem;
// $btn-lg-padding-y: 0.5rem;
// $btn-lg-font-size: 1.125rem;
// $btn-lg-line-height: 2rem;

$transition-reg: all 0.15s ease-out;

$transition-btn: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

// highlights

$highlight-light-bg: rgba(246, 247, 255, 0.25);
$highlight-regular-bg: rgba(246, 247, 255, 0.5);

$highlight-bordered-bg: rgba(246, 247, 255, 0.5);
$highlight-bordered-border: 1px solid $very-light-gray;

$highlight-active-bg: rgba(245, 245, 255, 0.3);
$highlight-active-border: 1px solid rgba(79, 70, 182, 0.35);
